rect {
  outline: 0;
  stroke: black;
  stroke-width: 0.5px;
}

svg[viewBox] {
  user-select: none;
}

#grid {
  margin-top: 16px;
  border: 2px solid black;
}

.view_box--tall {
  height: 100%;
}

.view_box--wide {
  width: 100%;
}

.grid__container {
  width: 500px;
}

.grid-and-clues__container {
  display: flex;
  flex-wrap: wrap;
}