#grid {
  margin: 40px;
  border-collapse: collapse;
  border: 2px solid black;

  /* this should be responsive, yet fixed so the boxes don't squish */
  table-layout: fixed;
  width: 500px;
}

#grid td {
  height: 35px;
  width: 35px;
  border: 1px solid black;
}

.black {
  background-color: black;
}
